{% extends 'master.html' %}

{% block title %}
    <title>About Us</title>
{% endblock %}

{% block content %}
    <h2 class="text-center text-danger">Our Team</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis distinctio esse eveniet excepturi iusto nam optio, quos recusandae rerum. Architecto, debitis explicabo fugit nesciunt non quidem quisquam repellendus tempora voluptate.</span><span>Accusamus cupiditate debitis dolore, et explicabo hic laboriosam odio quia rem sint. Corporis cum deserunt earum et facilis iure magnam minus quas sed, vero. Aut dolore laudantium nesciunt nulla optio.</span></p>
    
    <h2>Our Products</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aperiam consectetur debitis deserunt distinctio earum eveniet iure libero maxime, numquam sapiente tempora temporibus unde ut veniam voluptas. Cum, minima.</span><span>Aliquid aperiam consequatur consequuntur culpa delectus dignissimos dolore doloremque enim exercitationem facilis harum illum in officiis praesentium provident quas qui, repellat saepe sequi sit tempora tempore voluptate. Beatae, non, ullam?</span></p>
{% endblock %}